<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/toastr.min.css" />

</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

            <div class="main">
                <%- include('partials/navbar.ejs') %>

                    <main class="content">
                        <div id="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <h3>Getting Data...</h3>
                            <h4>In the meantime, eat a piece of cake, drink some water, and take a deep breath</h4>
                        </div>

                        <div class="container-fluid">
                            <div class="checkbox-container mb-3">
                                <div>
                                    <input class="mr-2" type="checkbox" id="show-added-tracking"> Only show added
                                    tracking
                                    <input class="ml-3 mr-2" type="checkbox" id="show-my-account-tracking" checked> Show
                                    My's
                                    accounts
                                    <input class="ml-3 mr-2" type="checkbox" id="show-trang-account-tracking"> Show
                                    Trang's
                                    accounts
                                </div>
                                <div>
                                    Search: <input type="text" class="pl-2 pr-2 ml-2 mr-3" id="search">
                                    Search by:
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle ml-2" type="button"
                                            data-toggle="dropdown"><span id="dropdown-filter-shop-time-created">Order
                                                ID</span>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li id="search-by-id">
                                                <p>Order ID
                                                <p>
                                            </li>
                                            <li id="search-by-shop">
                                                <p>Shop Name
                                                <p>
                                            </li>
                                            <li id="search-by-customer">
                                                <p>Customer Name
                                                <p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <table id="table_id-tracking-history">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Shop Name</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Tracking Code</th>
                                        <th>Input Code</th>
                                        <th>Input Carrier</th>
                                        <th>Order Date</th>
                                        <th>Order Status</th>
                                        <th>Added Time</th>
                                    </tr>
                                </thead>
                                <tbody id="table_id-tracking-history-body">
                                </tbody>
                            </table>

                            <p class="m-0" id="total-table">Showing 0 - 0 of 0 rows</p>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" id="first-pag" aria-label="First">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" id="prev-pag" aria-label="Prev">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a id="num-pag" class="page-link">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" id="next-pag" aria-label="Next">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" id="last-pag" aria-label="Last">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <a id="fix-tracking-history-btn">For Dev</a>
                            <div class="fix-tracking-history">
                                <input type="text" id="id-fix-tracking-history" placeholder="ID">
                                <input class="ml-2" type="text" id="input-code-tracking-history"
                                    placeholder="Tracking Code">
                                <input class="ml-2" type="text" id="input-carrier-tracking-history"
                                    placeholder="Carrier">
                                <button class="ml-2 button-primary" id="submit-fix-btn">Submit</button>
                            </div>
                        </div>
                    </main>
            </div>
    </div>
    </div>
</body>

<script type="text/javascript" src="js/extension/jquery.js"></script>
<script type="text/javascript" src="js/extension/socket.io.js"></script>
<script type="text/javascript" src="js/extension/toastr.min.js"></script>
<script type="text/javascript" src="js/add_tracking_etsy_history.js"></script>
<script type="text/javascript" src="js/extension/app.js"></script>

</html>