<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

        <div class="main">
            <%- include('partials/navbar.ejs') %>

            <main class="content">
                <div class="container-fluid">
                    <h1>Etsy Listing</h1>
                    <h2 style="color: red;">Tính năng đang được phát triển :V</h2>
                </div>
            </main>
        </div>
    </div>
</body>

<!-- <script src="js/extension/jquery.js"></script> -->
<!-- <script src="/js/socket.io.js"></script> -->
<script type="text/javascript" src="js/extension/app.js"></script>

</html>