<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" media="print" onload="this.media='all'"/>
</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

            <div class="main">
                <%- include('partials/navbar.ejs') %>

                    <main class="content">
                        <div class="container-fluid">
                            <h1>Etsy Listing</h1>
                            <div>
                                <p>Product Type</p>
                                <select class="" id="dropdown-product-type">
                                    <option value="canvas">Canvas</option>
                                </select>
                            </div>

                            <div>
                                <p>Custom Images</p>
                                <input type="text" id="custom-images">
                            </div>

                            <div>
                                <p>Main Images</p>
                                <input type="text" id="main-images">
                            </div>

                            <div>
                                <p>Title</p>
                                <input type="text" id="title">
                            </div>

                            <div>
                                <p>Tags</p>
                                <input type="text" id="tags">
                            </div>

                            <div>
                                <p>Shop Name</p>
                                <input type="text" id="shop-name">
                            </div>

                            <div>
                                <p>Product Description</p>
                                <input type="text" id="description">
                            </div>

                            <div>
                                Personalization
                                <input type="checkbox" id="personalization">
                            </div>

                            <button id="submit-btn">Submit</button>

                        </div>
                    </main>
            </div>
    </div>
</body>

<script type="text/javascript" src="js/extension/jquery.js"></script>
<script defer type="text/javascript" src="js/extension/socket.io.js"></script>
<script type="text/javascript" src="js/client_listing.js"></script>
<script defer type="text/javascript" src="js/extension/app.js"></script>

</html>