<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/header.ejs') %>

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/login.css?v=1.1">

</head>

<body>
	<div class="limiter">
		<div class="container-login">
			<div class="wrap-login">
				<div class="login-pic js-tilt" data-tilt>
					<img src="img/img-01.png" alt="IMG">
				</div>

				<form class="login-form validate-form" method="POST">
					<span class="login-form-title">
						<img src="img/icons/logo.png" alt="" width="100px" height="100px">
						<h3 class="mt-2">Log in to Giftsvk.com</h3>
					</span>

					<div class="wrap-input validate-input" data-validate="Username is required">
						<input class="input" type="text" name="user_name" placeholder="Username">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input validate-input" data-validate="Password is required">
						<input class="input" type="password" name="pass" placeholder="Password">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login-form-btn">
						<button class="login-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script type="text/javascript" src="js/extension/fontawesome.min.js"></script>
	<script type="text/javascript" src="js/extension/solid.min.js"></script>
	<script src="js/login.js?v=1.0"></script>

</body>
</html>