<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css" media="print" onload="this.media='all'"/>

</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

        <div class="main">
            <%- include('partials/navbar.ejs') %>

            <main class="content">
                <div class="container-fluid">
                    <div class="upload-container">
                        <div class="drop">
                            <div class="cont">
                                <i class="fas fa-cloud-upload-alt"></i>
                                <div class="tit">
                                    Drag & Drop
                                </div>
                                <button class="browse button-primary">
                                    or click here to browse
                                </button>
                            </div>
                            <input id="files" multiple="true" name="files[]" type="file" />
                        </div>
                    </div>

                    <h3>Is this Horizontal?</h3>
                    <div class="preview-container pb-3">
                    </div>
                    <button class="button-primary mt-3" id="render-now-btn">Render Now</button>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:0%">0%</div>
                    </div>

                    <div class="select-all-container mt-3">
                        <input type="checkbox" id="select-all-cb">
                        <p class="ml-2" for="vehicle1">Select All</p>
                    </div>

                    <div id="canvas-container"></div>
                    <button class="button-primary" id="download-all">Download selected item</button>
                </div>
            </main>
        </div>
    </div>
</body>

<script type="text/javascript" src="js/extension/jquery.js"></script>
<script type="text/javascript" src="js/extension/toastr.min.js"></script>
<script type="text/javascript" src="js/mockup.js?v=1.0"></script>
<script type="text/javascript" src="js/extension/app.js"></script>
<script defer type="text/javascript" src="js/extension/fontawesome.min.js"></script>
<script defer type="text/javascript" src="js/extension/solid.min.js"></script>

</html>