<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/header.ejs') %>

</head>

<body>

    <div id="logs"></div>

    <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/extension/socket.io.js"></script>
    <script type="text/javascript" src="js/thao_log.js"></script>

</body>

</html>