<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/header.ejs') %>

        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/thao.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">


</head>

<body>

    <div class="first-page">
        <img id="first-page-background" src="img/thao/background_thao.jpg" alt="">

        <div class="hello-container">
            <img src="img/thao/meme.png" alt="" width="300px">

            <h1 class="mt-4">Hee luu cậu!</h2>
                <h3 class="mt-4">Tớ có điều này muốn hỏi cậu, nhớ phải trả lời thật lòng nha!</h4>
                    <button id="btn-ok" class="mt-4">Oke cậu!</button>

        </div>

    </div>

    <div class="second-page">
        <img id="first-page-background" src="img/thao/background_thao.jpg" alt="">

        <div class="main-container">
            <h1 style="margin-top: 4rem; font-size: 80px;">Cậu thích tớ có phải không?</h1>
            <h1 style="margin-top: 2rem;">Cậu không trả lời hoặc thoát ra, tức là cậu là vợ tớ đó nha :> </h1>

            <div class="btn-container">
                <button id="you-wish-btn">Cậu mơ à :333 </button>
                <button id="love-btn" data-toggle="modal" data-target="#exampleModal">Thích ơi là thích <i class="fas fa-heart"></i></button>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="    width: fit-content;
        position: absolute;
        max-width: none;margin: 0;
    left: 50%;
    top: 50%;    border: none;
    background: none;
    transform: translate(-50%,-50%);">
            <div class="modal-content" style="    position: relative;
            border: none;
            display: -ms-flexbox;
            display: flex;
            background-color: rgb(63 0 255 / 59%);
            -ms-flex-direction: column;
            flex-direction: column;
            background-clip: padding-box;
            border-radius: 1.5rem;
            outline: 0;">
                <div style="    padding: 3rem 6rem;
                text-align: center;">
                    <h1 style="    color: white;"><i class="fas fa-heart"></i>Nói cho tớ lý do vì sao cậu thích tớ đii <i class="fas fa-heart"></i></h1>
                    <input id="input" style="    width: 100%;
                    margin: 1.5rem 0;
                    font-size: 25px;
                " type="text">
                    <button class="mt-3" id="send-to" style="background-color: #ff02b1;
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;">Gửi cho tớ :3</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/extension/socket.io.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/extension/fontawesome.min.js"></script>
    <script type="text/javascript" src="js/extension/solid.min.js"></script>
    <script type="text/javascript" src="js/thao.js?v=1.0"></script>

</body>

</html>