<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css"/>

</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

        <div class="main">
            <%- include('partials/navbar.ejs') %>

            <main class="content">
                <div id="loading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <h1>Tools thêm shop, user bên braumstar.com</h1>

                    <h3>Tạo User mới</h3>
                    <input id="input-user-name" placeholder="Tên User">
                    <input id="input-user-pass" placeholder="Mật khẩu">
                    <button class="button-primary" id="submit-user-button">Submit</button>
                    <p></p>

                    <h3>Danh sách shop</h3>
                    <input id="input-user-shop-list" placeholder="User quản lý shop">
                    <button class="button-primary" id="submit-shop-list-button">Submit</button>
                    <p id="list-shop"></p>

                    <p></p>
                    <h3>Thêm Shop cho User </h3>
                    <div class='d-flex'>
                        <textarea id="input-shop-name" placeholder="Tên Shop, xuống hàng khi nhập nhiều Shop" cols="40"
                            rows="5"></textarea>
                        <div class='ml-2'>
                            <input id="input-user-shop-name" placeholder="User quản lý shop">
                            <input id="input-country-shop-name" placeholder="Country code: CA, US...">
                        </div>
                        <button class="button-primary" id="submit-shop-button">Submit</button>
                    </div>
                    <p>Hành động: xóa shop nếu có sẵn và thêm shop vào vị trí user mới</p>

                    <h3>Xóa shop die</h3>
                    <div class="d-flex">
                        <textarea id="input-shop-die-name" placeholder="Tên Shop Die, xuống hàng khi nhập nhiều Shop"
                            cols="40" rows="5"></textarea>
                        <button class="button-primary" id="submit-shop-die-button">Submit</button>
                    </div>


                    <p style="color: red;">Nhớ nhập chính xác thông tin!</p>

                    <h3>Xóa User</h3>
                    <input id="input-user-name-delete" placeholder="Tên User">
                    <button class="button-primary" id="submit-user-delete-button">Submit</button>

                    <p style="color: red;">Xóa User khi và chỉ khi User không chứa shop nào.</p>
                </div>
            </main>
        </div>
    </div>
</body>

<script type="text/javascript" src="js/extension/jquery.js"></script>
<script type="text/javascript" src="js/extension/socket.io.js"></script>
<script type="text/javascript" src="js/extension/toastr.min.js"></script>
<script type="text/javascript" src="js/tools_braumstar.js?v=1.0"></script>
<script type="text/javascript" src="js/extension/app.js"></script>

</html>