<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="css/app.css?v=1.1" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=1.1" />
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="css/select2.min.css" />
</head>

<body>
    <div class="wrapper">
        <%- include('partials/sidebar.ejs', {active: active}) %>

        <div class="main">
            <%- include('partials/navbar.ejs') %>

            <main class="content">
                <div id="loading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3>Getting Data...</h3>
                    <h4>In the meantime, eat a piece of cake, drink some water, and take a deep breath</h4>
                </div>
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="filter-list-container">
                            <select id="find-product-by-keyword" multiple="multiple">
                            </select>
                            <button class='button-primary' id="find-product-by-keyword-button">Search</button>

                            <!-- <h5 style="margin-right: 0.5rem; margin-left: 1.5rem; align-self: flex-end;">Type
                            </h5>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                                        id="filter-listing-type">POD</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li id="pod-filter-listing">
                                        <p>POD
                                        <p>
                                    </li>
                                    <li id="digital-filter-listing">
                                        <p>Digital
                                        <p>
                                    </li>
                                </ul>
                            </div> -->

                            <h5 style="margin-right: 0.5rem; margin-left: 1.5rem; align-self: flex-end;">Creation date
                            </h5>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                                        id="filter-listing-creation-date">Last 14 days</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li id="1d-filter-listing-creation-date">
                                        <p>Last 1 day
                                        <p>
                                    </li>
                                    <li id="3d-filter-listing-creation-date">
                                        <p>Last 3 days
                                        <p>
                                    </li>
                                    <li id="7d-filter-listing-creation-date">
                                        <p>Last 7 days
                                        <p>
                                    </li>
                                    <li id="14d-filter-listing-creation-date">
                                        <p>Last 14 days
                                        <p>
                                    </li>
                                    <li id="all-filter-listing-creation-date">
                                        <p>All
                                        <p>
                                    </li>
                                    <!-- <li id="custom-filter-listing-creation-date">
                                        <p>Custom
                                        <p>
                                    </li> -->
                                </ul>
                            </div>

                            <h5 style="margin-right: 0.5rem; margin-left: 1.5rem; align-self: flex-end;">Sort by
                            </h5>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                                        id="sort-by-listing">Sales/day</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li id="sort-by-sale-day-listing">
                                        <p>Sales/day
                                        <p>
                                    </li>
                                    <li id="sort-by-percent-favorite-listing">
                                        <p>% Favorites
                                        <p>
                                    </li>
                                    <li id="sort-by-view-listing">
                                        <p>Views
                                        <p>
                                    </li>
                                    <li id="sort-by-favorite-listing">
                                        <p>Favorites
                                        <p>
                                    </li>
                                    <li id="sort-by-day-listing">
                                        <p>Days
                                        <p>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="d-flex">
                            <h5
                                style="margin-right: 0.5rem; margin-left: 1.5rem; align-self: flex-end; margin-block: auto;">
                                Show
                            </h5>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                                        id="show-entries-listing">30</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li id="show-15-entries-listing">
                                        <p>15
                                        <p>
                                    </li>
                                    <li id="show-30-entries-listing">
                                        <p>30
                                        <p>
                                    </li>
                                    <li id="show-50-entries-listing">
                                        <p>50
                                        <p>
                                    </li>
                                    <li id="show-100-entries-listing">
                                        <p>100
                                        <p>
                                    </li>
                                </ul>
                            </div>
                            <h5
                                style="margin-right: 0.5rem; margin-left: 0.5rem; align-self: flex-end; margin-block: auto;">
                                entries
                            </h5>
                        </div>
                    </div>

                    <div id="product-list" class="row justify-content-center">
                    </div>

                    <p id="number-entries"></p>

                    <div class="pagination">
                        <a id="first-pagination"><i class="fas fa-angle-double-left"></i></a>
                        <a id="back-pagination"><i class="fas fa-angle-left"></i></a>
                        <h3 id="pagination-number">1</h3>
                        <a id="next-pagination"><i class="fas fa-angle-right"></i></a>
                        <a id="last-pagination"><i class="fas fa-angle-double-right"></i></a>
                    </div>

                    <div class="popup-analytic-background">
                    </div>
                    
                    <div class="popup-analytic-container">
                        <button id="btn-close-chart"><i class="fas fa-times-circle"></i></button>
                        <h2 class="title-chart-analytic-product">Product Analytics</h2>
                        <div class="chart-analytic-product">
                            <canvas id="chart-analytic-product"></canvas>
                        </div>
                    </div>

                    <h5>Thuật toán xác định số sales/ngày:</h5>
                    <p>Tính tổng số lượng chênh lệch mỗi ngày / tổng số ngày ghi</br>
                        Bỏ qua ngày đó nếu:</br>
                        + Số lượng chênh lệch giữa 2 ngày tính lớn hơn 2000 </br>
                        + Số lượng chênh lệch giữa 2 ngày tính lớn hơn 100 và số lượng ngày sau bé hơn 1 nửa so với ngày trước</br>
                        + Số lượng ngày sau lớn hơn so với ngày trước</br>
                    Mục đích: bỏ qua các số sales ảo (do chủ shop trực tiếp thay đổi số lượng)</p>

                </div>
        </div>
        </main>
    </div>
    </div>
</body>

<script type="text/javascript" src="js/extension/jquery.js"></script>
<script type="text/javascript" src="js/extension/socket.io.js"></script>
<script type="text/javascript" src="js/extension/moment.min.js"></script>
<script type="text/javascript" src="js/extension/daterangepicker.min.js"></script>
<script type="text/javascript" src="js/extension/toastr.min.js"></script>
<script type="text/javascript" src="js/extension/select2.min.js"></script>
<script type="text/javascript" src="js/tracking_product.js?v=1.1"></script>
<script type="text/javascript" src="js/extension/app.js"></script>
<script type="text/javascript" src="js/extension/fontawesome.min.js"></script>
<script type="text/javascript" src="js/extension/solid.min.js"></script>

</html>