th, td {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.dataTables_scrollHeadInner {
  margin: auto;
}

.dropdown button {
  border: 1px solid;
}

#find-product-by-keyword {
  width: 300px;
}

.dropdown p {
  font-size: 16px;
  color: black;
  margin: 0;
}

.select2-results__option--selected {
  display: none;
  pointer-events: none !important;
}

.select2-results__option {
  transition: 0.2s;
}

.dropdown p:hover {
  color: white !important;
}

.dropdown li {
  padding: 0.5rem 1rem;
}

.dropdown li:hover {
  background-color: #495057;
}

.dropdown li:hover p {
  color: white;
  cursor: pointer;
}

input {
  border-radius: 5px;
  border: 1px solid;
}

.button-primary {
  background-color: none;
  color: #0081ff;
  cursor: pointer;
  border: 1px solid;
  border-color: #0081ff;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 15px;
  transition: 0.2s;
}

.active, .button-primary:hover {
  background-color: #0081ff;
  color: white;
}

.content-collap-shop-info {
  padding: 1rem;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.dropdown-toggle:hover {
  background-color: none !important;
}

input {
  font-size: 16px;
  padding: 3px;
}

textarea {
  font-size: 16px;
  padding: 3px;
}

#submit-shop-button {
  height: min-content;
  margin-left: 0.5rem;
}

#submit-shop-die-button {
  height: min-content;
  margin-left: 0.5rem;
}

#list-shop {
  white-space: pre-wrap;
}

main.content {
  position: relative;
  padding: 0 !important;
}

#loading {
  display: none;
  position: absolute;
  z-index: 1001;
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  text-align: center;
}

#loading h4 {
  color: white;
}

#loading h3 {
  color: white;
}

.user_img_container {
  text-align: center;
  margin: 1rem 0;
}

.content-collap-shop-info h5 {
  line-height: 1.5;
}

.container-fluid {
  padding: 1.5rem;
  position: relative;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.filter-shop-container {
  display: flex;
  margin-bottom: 1rem;
}

.filter-shop-container h5 {
  margin-block: auto;
}

.filter-list-container {
  display: flex;
  align-items: center;
}

.filter-list-container h5 {
  margin-block: auto;
}

#product-list img {
  height: 200px;
  object-fit: contain;
}

#product-list a {
  color: black;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  border-radius: 5px;
}

#product-list a:hover {
  color: #3b7ddd;
  text-decoration: none;
}

#product-list p {
  margin-bottom: 0.3rem;
}

.list-product-search-container {
  max-width: 16%;
  margin: 1.5rem 0.3rem 0 0.3rem;
  padding: 0.3rem;
  border-radius: 8px;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
}

.list-product-search-title:hover {
  color: #3b7ddd;
}

.list-product-search-container img {
  transition-duration: 0.5s;
}



.daterangepicker {
  top: 120px !important;
  left: 460px !important;
}

.fa-dollar-sign {
  color: green;
}

.fa-eye {
  color: brown;
}

.fa-heart {
  color: red;
}

.fa-sort-amount-down {
  color: blue;
}

.fa-heartbeat {
  color: violet;
}

.fa-info-circle {
  color: #58baff;
  transition: 0.2s;
}

.fa-info-circle:hover {
  color: red
}

#number-entries {
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

#pagination-number {
  margin: 0;
  padding: 0 0.5rem;
}

th, td {
  text-align: center;
}

#table-shop-body a {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

#table-shop-body a:hover {
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.fa-question-circle {
  font-size: 1rem;
}

.fa-question-circle:hover {
  color: rgb(0, 132, 255);
}

.grid-view-listing {
  border: none;
  background: none;
  display: flex;
}

.grid-view-listing:focus {
  outline: 0 !important;
}

.grid-view-listing svg {
  font-size: 1.5rem;
}

.fa-cart-plus {
  color: rgb(0, 132, 255);
}

.fa-calendar-alt {
  color: green;
}

#fix-tracking-history-btn {
  cursor: pointer;
  font-size: 15px;
}

.active-fix-tracking, #fix-tracking-history-btn:hover {
  color: #0081ff;
  background-color: none;
}

.fix-tracking-history {
  margin-top: 0.5rem;
  display: none;
  overflow: hidden;
}

.hover-product-container {
  background-color: rgba(255, 255, 255, 0.616);
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 0;
  display: flex;
  transition: height 0.2s;
  align-items: center;
  justify-content: center;
}

#analytic-product-btn {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  display: none;
  border-width: 0;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: dodgerblue;
  color: white;
  transition: 0.2s;
}

#analytic-product-btn:hover{
  height: 50px;
  width: 50px;
}

#img-product-btn:hover{
  height: 50px;
  width: 50px;
}

#img-product-btn {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  display: none;
  border-width: 0;
  border-radius: 50%;
  background-color: rgb(255, 30, 236);
  color: white;
  transition: 0.2s;
}

.list-product-search-container:hover .hover-product-container {
  height: 100%;
}

.list-product-search-container:hover #analytic-product-btn {
  display: block;
}

.list-product-search-container:hover #img-product-btn {
  display: block;
}

.product-img-container{
  position: relative;
  overflow: hidden;
}

.list-product-search-container:hover img {
  transform: scale(1.2);
}

.popup-analytic-container{
  position: fixed;
  box-shadow: 0 6px 8px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 60vW;
  height: 0;
  background-color: rgba(255, 255, 255, 0.95);
  left: 50%;
  top: 20vh;
  z-index: 2;
  text-align: center;
  transform: translate(-50%, 0);
  transition: height 0.2s;
}
#chart-analytic-product{
  height: 400px;
  padding: 0 1rem 2rem 1rem;
}
.title-chart-analytic-product{
  margin-top: 0.5rem;
  color: #0081ff;
  
}
#btn-close-chart{
  font-size: 1.3rem;
  border-width: 0;
  color: #9e0101;
  width: -webkit-fill-available;
  background: none;
  text-align: end;
  transition: 0.3s;
}
#btn-close-chart:hover{
  color: red;
}
.popup-analytic-background{
  position: fixed;
  background-color: #1b1b1b59;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}